<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <!-- required -->

  <link rel="stylesheet" type="text/css" href="css/flashblock.css" />

  <link rel="stylesheet" type="text/css" href="css/360player.css" />
  <link rel="stylesheet" type="text/css" href="css/360player-visualization.css" />

  <style type="text/css">
    .ui360 span {
     text-align: center;
     display: block;
     font-size: small;
     color: #333;
    }



  </style>
  <!-- special IE-only canvas fix -->
  <!--[if IE]><script type="text/javascript" src="js/excanvas.js"></script><![endif]-->

  <!-- Apache-licensed animation library -->
  <script type="text/javascript" src="js/berniecode-animator.js"></script>

  <!-- the core stuff -->
  <script type="text/javascript" src="js/soundmanager2.js"></script>
  <script type="text/javascript" src="js/360player.js"></script>

  <script type="text/javascript">

  </script>


</head>
<body>
  <div class="sm2-inline-list">
    <div class="ui360 ui360-vis">
      <a href="music/podcast02.mp3"></a>
      <span>程序人生之图穷匕见adfa fdas fdsa fdsa s  asdfasdf daf dsa fd</span>
    </div>

  </div>
</body>

</html>